/**
 * Confetti
 */
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(25px, var(--confetti-container-height, 105vh), 0)
      rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(100px, var(--confetti-container-height, 105vh), 0)
      rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(-50px, var(--confetti-container-height, 105vh), 0)
      rotateX(10deg) rotateY(250deg);
  }
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 20;
  top: -10px;
  border-radius: 0%;
}

.confetti--animation-slow {
  --speed: 3s;

  @media screen(md) {
    --speed: 3.5s;
  }

  @media screen(lg) {
    --speed: 2.25s;
  }

  animation: confetti-slow var(--speed) linear 1 forwards;
}

.confetti--animation-medium {
  --speed: 2.5s;

  @media screen(md) {
    --speed: 2.25s;
  }

  @media screen(lg) {
    --speed: 1.75s;
  }

  animation: confetti-medium var(--speed) linear 1 forwards;
}

.confetti--animation-fast {
  --speed: 2s;

  @media screen(md) {
    --speed: 2.25s;
  }

  @media screen(lg) {
    --speed: 1.25s;
  }

  animation: confetti-fast var(--speed) linear 1 forwards;
}
